.personal {
    display: grid;
    grid-template: 
        "body menu" 1fr
        / 1fr 200px;
}

.personal-body {
    grid-area: body;
}

.personal-menu {
    grid-area: menu;
    background-color: blueviolet;
    z-index: 10;
}



.personal-menu-icon {
    grid-area: menu-icon;
    height: 50px;
    width: 200px;
    background-color: blanchedalmond;
}

@media screen and (max-width:520px) {
    .personal {
        grid-template:
        "menu" 50px
        "body" 1fr
        / 1fr;
    }


    .personal-menu-column {
        position: absolute;
        right: 0px;
        width: 200px;
    }

    .personal-menu-column:hover  .personal-menu-contents {
        opacity: 1;
        visibility: visible;
    }


    

    .personal-menu-contents {
        position: absolute;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: aquamarine;
        width: 200px;
        height: 300px;

        opacity: 0;
        visibility: hidden;
    }

    /* .personal-menu {
        border-radius: 10px;
        position: relative

    }
    .personal-menu-inner {
        z-index: 1;
        position: absolute;
        right: 0;
        top: calc(100% + .5rem);
        background-color: white;
        padding: .75rem;
        border-radius: .25rem;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    .personal-menu > .personal-menu-button:focus + .personal-menu-inner {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .personal-menu-inner > .link:focus + .personal-menu-inner {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    } */


    
}